.navbar-toggler {
    color: #000 !important;
    border: #000 solid !important;
    border-radius: var(--bs-navbar-toggler-border-radius) !important;

}

#team .contaniner {
    width: 90% !important;
}

.img-fluid {
    max-width: 80% !important;
}

.team .member .member-info {
    width: 70% !important;
    margin-right: auto !important;
    margin-left: auto !important;
    display: block !important;

}

.color-beige {
    background-color: #afa793;
}

.color-verde {
    background-color: #16423c;
}

.color-vainilla {
    background-color: #d5d0a2;
}

.color-marron {
    background-color: #482b22;
}

.color-gris {
    background-color: #54575a;
}

.color-negro {
    background-color: #000;
}

.color-blanco {
    background-color: #fff;
    border: 1px solid #000;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    width: 1.5rem !important;
    height: 1.5rem !important;
    cursor: pointer;
    background-color: transparent;
}

.portfolio-modal .modal-content {
    padding-top: 2rem !important;
}

#filter-form {
    display: flex;
    align-items: center;
    /* Centra verticalmente los elementos */
    gap: 10px;
    /* Espacio entre los elementos */
}

.form-select {
    width: 30% !important;}

.btn-color { width: 60px; height: 60px; margin: 5px; border-radius: 50%; border: 1px solid #000; }
.pic img {
    transition: 0.3s ease;
}